.user-container{
    background-color: #5f4c4c;
    padding: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem;
}

#user-img{
    height: 500px;
    width: 450px;
    border-radius: 50%;
}